<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>子团队</strong> 
            <kbd><%= @current_team.children.count %></kbd>
      </div>
      <div class="panel-body">


          <% @children_teams.each do |t| %>
            <p><%= link_to(t.name,week_teams_path({team_id: t})) %><kbd><%= t.users.count %></kbd> </p>          
          <% end %>

      </div>

      
    </div>
  </div>
</div>