<br>
<a href="<%= @download_link %>"><%= @file_name %></a>
<p> 单击 ↑上方链接↑ 下载上周团队周报!</p>

<br>

<p>如果提示无法下载,是因为iNode 默认浏览器没有设置为客户端浏览器造成的,有以下两种解决方法:</p>
<ol>
  <li>将默认 iNote 链接默认使用操作系统浏览器打开,文件 > 首选项 > web 浏览器 > 使用该操作系统的缺省浏览器</li>
  <li>或者直接在邮箱中的浏览器,使用用户名密码登录一下 daily.dcits.com系统即可</li>
</ol>

<br>

<%= render "mail_footer" %>