<!-- <div class="row"> -->
<!-- 如果确实有搜索东西 -->
<% if  params[:q].present? %>

  

  <!-- 用户搜到了 -->
  <% if @users.present? %>
    <div class="col-md-12 col-xs-12">
    <% @users.each do |u| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to(u.name,wechatpage_user_path(u)) %></h3>
        </div>

        <div class="panel-body">
 
          
          <p>证书: <%= u.description %></p>
          <p>
            <% if u.idcard_attachment.present? %>
              <code>身份证</code>
            <% end %>
            <% if u.degree_attachment.present? %>
              <code>学历证</code>
            <% end %>
            <% if u.academic_attachment.present? %>
              <code>毕业证</code>
            <% end %>
            <% if u.resume_attachment.present? %>
              <code>简历</code>
            <% end %>         
          </p>
        </div>
      </div>
    <% end %>
    </div>


  <% elsif @users.blank? %>
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="alert alert-warning" role="alert"">
      未搜索到该用户!
    </div>  
  </div>

  <% else %>
  <% end %>

<% end %>


<style type="text/css">
th.th_title{
  color: #fff
}
</style>