

<div class="col-md-12">

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>itcode</th>
        <th>姓名</th>
        <th>用户邮箱</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td>
          <strong><%= link_to(u.itcode,wechatpage_user_path(u)) %></strong>
        </td>
        <td><small> <%= u.name %></small></td>
        <td><%= u.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
