<div class="col-md-12 col-xs-10 col-xs-offset-1">
  <h3 class="text-center">工程师资料查询</h3>
  <!-- 用户搜索 -->
  <%= search_form_for [:wechatpage,@q], html: {class: "navbar-form navbar-left"} do |f|  %>
    <div class="input-group">
      <%= f.search_field :itcode_or_name_or_email_cont, class: "form-control", placeholder: "输入itcode,姓名或邮箱"  %>
      <span class="input-group-btn">
        <%= f.submit '搜索',class: "btn btn-default" %>
      </span>
    </div>
  <% end %>
</div>

<!-- 用户表 -->
<%# if @users.present? %>
  <%= render "userstable" %>
<%# end %>



<div class="col-md-12 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-info-sign"></span> 个人资料借阅流程</div>
    <div class="panel-body">
      <ol>
        <li>CRM中通过投标申请.</li>
        <li>请发邮件给鲁志梅(luzm@dcits.com)说明项目号、项目名称、销售员及事业部.</li>
        <li>鲁志梅查询CRM后,将回复邮件,同时张莹(zhangyingab@dcits.com)会将电子版发至您邮箱.</li>
        <li>请注意：提供的电子版中,简历均为PDF文件,并且所提供的所有个人资质均会打上水印,注明仅为XXX项目投标使用.</li>
      </ol>
    </div>
  </div>
</div>







