<ol class="breadcrumb">
  <li class="active">学位证书</li>
</ol>

<div class="col-md-12">

  <table class="table table-hover table-condensed">
    <tbody>
      <tr>
        <td><h4><%= link_to("大专",user_degree_college_wechatpage_users_path) %></h4></td>
      </tr>
      <tr>
        <td>
          <h4>
          <%= link_to("本科",user_degree_university_wechatpage_users_path) %>
          </h4>
        </td>
      </tr>
      <tr>
        <td><h4><%= link_to("硕士",user_degree_master_wechatpage_users_path) %></h4></td>
      </tr>
      <tr>
        <td><h4><%= link_to("博士",user_degree_doctor_wechatpage_users_path) %></h4></td>
      </tr>    
    </tbody>

  </table>
  
</div>



