    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-stacked">
          <!-- 历史周链接 -->
          <% @history_weeks.each do |w| %>
            <!-- 如果就是当前周就高亮显示 -->
            <% if week_begin(w) == week_begin(@current_time) and params['start_date'].blank? %>
              <li role="presentation" class="active">
            <% else %>
              <li role="presentation" class="<%= active_history(w.at_beginning_of_week,w.at_end_of_week) %>">
            <% end %>
                <!-- 历史链接 -->
                <%#= link_to(week_begin(w)+'~'+week_end(w),week_user_path({id: @user,start_date: w.at_beginning_of_week,end_date: w.at_end_of_week}))%>

                <!-- 历史链接 -->
                <%= link_to(week_begin(w)+'~'+week_end(w),user_path(@user,{start_date: w.at_beginning_of_week,end_date: w.at_end_of_week}))%>
              </li>              
          <% end %>

          <!-- 更多 -->
          <li role="presentation">
            <a href="#" class="text-center btn-default">
              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </a>
          </li>

        </ul>
        
      </div>

    </div>