<div class="row">
  <div class="col-xs-3">
    <div class="list-group">
      <a href="#" class="list-group-item sub_tag text-center active">基础架构</a>
      <a href="#" class="list-group-item sub_tag text-center">云计算</a>
      <a href="#" class="list-group-item sub_tag text-center">物联网</a>
      <a href="#" class="list-group-item sub_tag text-center">大数据</a>
      <a href="#" class="list-group-item sub_tag text-center">安全</a>
      <a href="#" class="list-group-item sub_tag text-center">人工智能</a>
      <a href="#" class="list-group-item sub_tag text-center">区块链</a> 
      <a href="#" class="list-group-item sub_tag text-center">其他</a>       
   </div>
  </div>
  <div class="col-xs-9">
    <%= render "solutionstable" %>
  </div>
</div>    
