<div class="row">
  <div class="col-xs-3">
    <div class="list-group">
      <a href="#" class="list-group-item sub_tag text-center active">金融</a>
      <a href="#" class="list-group-item sub_tag text-center">运营商</a>
      <a href="#" class="list-group-item sub_tag text-center">能源</a>
      <a href="#" class="list-group-item sub_tag text-center">政企</a>
      <a href="#" class="list-group-item sub_tag text-center">军工</a>
      <a href="#" class="list-group-item sub_tag text-center">互联网</a>
      <a href="#" class="list-group-item sub_tag text-center">其他</a> 
     </div>
    </div>
  <div class="col-xs-9">
    <%= render "solutionstable" %>
  </div>
</div>    
