<div class="col-md-12 col-xs-10 col-xs-offset-1">
  <h2><img src="http://p123oziiu.bkt.clouddn.com/3_tree.png" width="25px" height="25px"> 神州信息解决方案</h2>
  <!-- 用户搜索 -->
  <%= search_form_for [:wechatpage,@q], html: {class: "navbar-form navbar-left"} do |f|  %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: "form-control", placeholder: "输入解决方案关键字"  %>
      <span class="input-group-btn">
        <%= f.submit '搜索',class: "btn btn-default" %>
      </span>
    </div>
  <% end %>
</div>

<!-- 解决方案 -->
<%= render "solutionstable" %>








