<!-- Modal -->
<div class="modal fade" id="ProjectWorkflowModal" tabindex="-1" role="dialog" aria-labelledby="ProjectWorkflowModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ProjectWorkflowModalLabel">+ 项目类工作</h4>
      </div>

      <div class="modal-body">
        <!-- 只有 workflow表时候 -->
        <%= render 'dialogforms/project_workflow_form.html.erb' %>
      </div>

    </div>
  </div>
</div>